{% load static %}


<nav class="navbar navbar-expand-md navbar-dark mb-4 bg-dark">
    <a class="navbar-brand" href="/">Home</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/training_list">List</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/add_training">Start Workout</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/add_exercise">Add Exercise</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>

      </ul>
        <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/accounts/logout"> {{username}} | Logout</a>
        </li>
        {% else %}
        <li class="nav-item active" style='text-align: right;'>
          <a class="nav-link" href="/accounts/login">Login</a>
        </li>
        <li class="nav-item active" style='text-align: right;'>
          <a class="nav-link" href="/accounts/register">Register</a>
        </li>
        {% endif %}
      </ul>
  
    </div>
</nav>